.header {
  margin-top: 40px;
  margin-bottom: 152px;

  &__div {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 64px;

    &__list {
      display: flex;
      gap: 40px;
    }
    &__href {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #36536b;
      mix-blend-mode: normal;
      opacity: 0.7;

      &:hover {
        color: #36536b;
        opacity: 12;
      }
      &:active {
        color: #9cb6cd;
      }
    }
  }
  &__button {
    @extend %button;
  }

  .hamburgerMenu {
    &-active {
      display: block;
    }
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 48px 27px;
    display: none;
    align-items: flex-end;
    flex-direction: column;
    gap: 24px;

    background: #1b262f;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    .hamburger__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
    .hamburger__line {
      width: 100%;
      background: #fbfcfe;
      mix-blend-mode: normal;
      opacity: 0.15;
    }
    .hamburger__list {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }
    .hamburger__href {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #fff;
      mix-blend-mode: normal;
      opacity: 0.7;

      &:hover {
        color: #36536b;
        opacity: 12;
      }
      &:active {
        color: #9cb6cd;
      }
    }
    .hamburger__button {
      width: 100%;
      @extend %button;
    }
  }
}
@media only screen and (max-width: 755px) {
  .header {
    .nav {
      gap: 25px;
    }
  }
}
@media only screen and (max-width: 665px) {
  .container {
    width: 90%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      &__item {
        display: none;
      }
    }
    &__button {
      display: none;
    }

    .hamburger__img {
      display: block;
    }
  }
}
