.start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;

  &__title {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536b;
  }
}
.input {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  padding: 15px 50px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536b;
  mix-blend-mode: normal;
  opacity: 0.5;
  transition: all 0.3s ease;
  &:hover {
    color: #36536b;
    opacity: 1;
  }
}
.demo {
  margin-left: -50px;
  position: relative;
}
@media only screen and (max-width: 1118px) {
  .start {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 36px;
    }
    .demo {
      margin-left: -50px;
      margin: 0px;
      margin-top: 16px;
    }
  }
}
